body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

section{
    display: flex;
    margin-bottom: 100px;
}

.top-baner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    margin-top: 50px;
}


h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

spen.name-color {
    color: orange;
}

a.btn-color{
    background-image: linear-gradient(orange, tomato );
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
}

.costom {
        margin-top: 50px;
    }

 .Dream-Big{
     background-image: url(images/dream-bg.png);
     background-repeat: no-repeat;
     background-position: right;
 }   